In [3]:
# Importar as bibliotecas
import pandas as pd
import plotly.express as px

In [4]:
# Importando as tabelas
df_principal = pd.read_excel("Tabela de acoes.xlsx", sheet_name='Principal')
df_principal

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,USIM5,2024-01-26,9.50,5.20,11.76,2.26,2.26,15.97,9.18,9.56,"319,16 M"
1,CMIN3,2024-01-26,6.82,2.40,2.40,-12.11,-12.11,50.56,6.66,6.86,"32,65 M"
2,PETR3,2024-01-26,41.96,2.19,7.73,7.64,7.64,77.55,40.81,42.34,"436,69 M"
3,SUZB3,2024-01-26,52.91,2.04,2.14,-4.89,-4.89,18.85,51.89,53.17,"162,55 M"
4,CPFE3,2024-01-26,37.10,2.03,2.49,-3.66,-3.66,20.70,36.37,37.32,"73,42 M"
...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-9.47,-13.98,-13.98,-32.72,10.70,11.08,"38,19 M"
77,BHIA3,2024-01-26,8.70,-2.46,-6.95,-23.55,-23.55,-85.74,8.67,8.95,"27,54 M"
78,RENT3,2024-01-26,56.24,-3.63,-6.41,-11.57,-11.57,-2.77,56.04,58.90,"624,74 M"
79,CVCB3,2024-01-26,3.07,-4.36,-5.54,-12.29,-12.29,-36.83,3.05,3.23,"101,46 M"
80,GOLL4,2024-01-26,5.92,-8.07,-15.91,-34.00,-34.00,-25.44,5.51,6.02,"154,36 M"

In [5]:
df_total_acoes = pd.read_excel("Tabela de acoes.xlsx", sheet_name='Total_de_acoes')
df_total_acoes

                      Código  Qtde. Teórica
0                      RRRP3   2.356656e+08
1                      ALOS3   5.326166e+08
2                      ALPA4   1.767340e+08
3                      ABEV3   4.394246e+09
4                      ARZZ3   6.230589e+07
..                       ...            ...
84                     VBBR3   1.114413e+09
85                     WEGE3   1.481593e+09
86                     YDUQ3   2.893479e+08
87  Quantidade Teórica Total   9.637210e+10
88                   Redutor   1.704785e+07

[89 rows x 2 columns]

In [6]:
df_ticker = pd.read_excel("Tabela de acoes.xlsx", sheet_name='Ticker')
df_ticker

    Ticker            Nome
0    MGLU3  Magazine Luiza
1    HAPV3         Hapvida
2    PETR4       Petrobras
3    B3SA3              B3
4    USIM5        Usiminas
..     ...             ...
530  TKNO3           Tekno
531  COCE6          Coelce
532  MGEL3         Mangels
533  CTSA8      Santanense
534  MMAQ4   Minasmáquinas

[535 rows x 2 columns]

In [7]:
df_segmentos = pd.read_excel("Tabela de acoes.xlsx", sheet_name='Segmento')
df_segmentos

            Usiminas          Siderurgia  68
0      CSN Mineração           Mineração  83
1          Petrobras            Petróleo  71
2             Suzano    Papel e Celulose  85
3       CPFL Energia             Energia  26
4           PetroRio            Petróleo  15
..               ...                 ...  ..
73  Carrefour Brasil              Varejo  49
74       Casas Bahia              Varejo  67
75          Localiza   Aluguel de Carros  51
76               CVC  Agência de Viagens  52
77               GOL     Companhia Aérea  23

[78 rows x 3 columns]

In [8]:
# Retornar as colunas que serão usadas e renomea-las
df_principal = df_principal[['Ativo','Data','Último (R$)','Var. Dia (%)']].copy()
df_principal = df_principal.rename(columns={'Último (R$)':'Valor_final','Var. Dia (%)':'Var_dia_pct'}).copy()
df_principal

    Ativo       Data  Valor_final  Var_dia_pct
0   USIM5 2024-01-26         9.50         5.20
1   CMIN3 2024-01-26         6.82         2.40
2   PETR3 2024-01-26        41.96         2.19
3   SUZB3 2024-01-26        52.91         2.04
4   CPFE3 2024-01-26        37.10         2.03
..    ...        ...          ...          ...
76  CRFB3 2024-01-26        10.71        -2.45
77  BHIA3 2024-01-26         8.70        -2.46
78  RENT3 2024-01-26        56.24        -3.63
79  CVCB3 2024-01-26         3.07        -4.36
80  GOLL4 2024-01-26         5.92        -8.07

[81 rows x 4 columns]

In [9]:
# Criando a coluna de variação em porcentagem
df_principal['Variacao_pct'] = df_principal['Var_dia_pct'] / 100
df_principal

    Ativo       Data  Valor_final  Var_dia_pct  Variacao_pct
0   USIM5 2024-01-26         9.50         5.20        0.0520
1   CMIN3 2024-01-26         6.82         2.40        0.0240
2   PETR3 2024-01-26        41.96         2.19        0.0219
3   SUZB3 2024-01-26        52.91         2.04        0.0204
4   CPFE3 2024-01-26        37.10         2.03        0.0203
..    ...        ...          ...          ...           ...
76  CRFB3 2024-01-26        10.71        -2.45       -0.0245
77  BHIA3 2024-01-26         8.70        -2.46       -0.0246
78  RENT3 2024-01-26        56.24        -3.63       -0.0363
79  CVCB3 2024-01-26         3.07        -4.36       -0.0436
80  GOLL4 2024-01-26         5.92        -8.07       -0.0807

[81 rows x 5 columns]

In [10]:
# Criando a coluna do valor inicial
df_principal['Valor_inicial'] = df_principal['Valor_final'] / (df_principal['Variacao_pct'] + 1)
df_principal

    Ativo       Data  Valor_final  Var_dia_pct  Variacao_pct  Valor_inicial
0   USIM5 2024-01-26         9.50         5.20        0.0520       9.030418
1   CMIN3 2024-01-26         6.82         2.40        0.0240       6.660156
2   PETR3 2024-01-26        41.96         2.19        0.0219      41.060769
3   SUZB3 2024-01-26        52.91         2.04        0.0204      51.852215
4   CPFE3 2024-01-26        37.10         2.03        0.0203      36.361854
..    ...        ...          ...          ...           ...            ...
76  CRFB3 2024-01-26        10.71        -2.45       -0.0245      10.978985
77  BHIA3 2024-01-26         8.70        -2.46       -0.0246       8.919418
78  RENT3 2024-01-26        56.24        -3.63       -0.0363      58.358410
79  CVCB3 2024-01-26         3.07        -4.36       -0.0436       3.209954
80  GOLL4 2024-01-26         5.92        -8.07       -0.0807       6.439682

[81 rows x 6 columns]

In [11]:
# Fazendo uma junção de tabelas para pegar a quantidade de ações por ativo
df_principal = df_principal.merge(df_total_acoes, left_on='Ativo', right_on='Código', how='left')
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Variacao_pct,Valor_inicial,Código,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,USIM5,5.151174e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,CMIN3,1.110559e+09
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,PETR3,2.379878e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,SUZB3,6.834528e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,CPFE3,1.877325e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,CRFB3,5.339906e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,BHIA3,9.484305e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,RENT3,8.532023e+08
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,CVCB3,5.255828e+08
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,GOLL4,1.981849e+08

In [12]:
# Removendo coluna Código e renomeando
df_principal = df_principal.drop(columns='Código').copy()
df_principal = df_principal.rename(columns={'Qtde. Teórica':'Qtd_de_acoes'}).copy()
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Variacao_pct,Valor_inicial,Qtd_de_acoes
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,5.151174e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,1.110559e+09
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,2.379878e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,6.834528e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,1.877325e+08
...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,5.339906e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,9.484305e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,8.532023e+08
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,5.255828e+08
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,1.981849e+08

In [13]:
# Retornando a variação dos valores inicial e final x a quantidade de ações
df_principal['Variacao_RS'] = (df_principal['Valor_final'] - df_principal['Valor_inicial']) * df_principal['Qtd_de_acoes']
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Variacao_pct,Valor_inicial,Qtd_de_acoes,Variacao_RS
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,5.151174e+08,2.418897e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,1.110559e+09,1.775160e+08
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,2.379878e+09,2.140059e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,6.834528e+08,7.229463e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,1.877325e+08,1.385740e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,5.339906e+08,-1.436355e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,9.484305e+07,-2.081024e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,8.532023e+08,-1.807433e+09
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,5.255828e+08,-7.355741e+07
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,1.981849e+08,-1.029932e+08

In [14]:
# Convertendo valores em notação cientifica e alterando tipo de dados
pd.options.display.float_format = '{:.2f}'.format 
df_principal['Qtd_de_acoes'] = df_principal['Qtd_de_acoes'].astype('int')
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Variacao_pct,Valor_inicial,Qtd_de_acoes,Variacao_RS
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62

In [15]:
# Criando uma categoria para os valores da variação, informando se subiu, desceu ou se manteve instavel
df_principal['Resultado'] = df_principal['Variacao_RS'].apply(lambda x: "Subiu" if x > 0 else ( 'Desceu' if x < 0 else "Instavel") )
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Variacao_pct,Valor_inicial,Qtd_de_acoes,Variacao_RS,Resultado
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu
...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu

In [16]:
# Adicionar os nomes das empresa

In [17]:
# Adicionando segmentos

In [18]:
# Categorizando por idade da empresa e renomear

In [ ]:
# Criar a categoria por idade

In [19]:
# Análise descritiva (Média, Média quem subiu e quem desceu, valor minimo e maximo, desvio padrão e variância da média)

In [ ]:
# Agrupar por variavel por cada resultado resultado

In [ ]:
# Gerar analise de saldo por resultado

In [20]:
# Criandos os graficos de analise de resultado

In [21]:
# Desafios
# Pesquise com a documentação da biblioteca Plotly ou GPT como mudar a formatação dos números do gráfico de barras;
# Fazer o gráfico de pizza no df_análise_segmentos com a mesma biblioteca Potly;
# Fazer o GroupBy da categoria de idades e gerar o gráfico de barras.

#### Aula 4 - Análises avançadas e gráficos de velas (Candlestick) usando os dados da API do Yahool Finance

In [ ]:
# Importar as bibliotecas

In [ ]:
# Importar os dados da API

In [22]:
# Renomear as colunas

In [ ]:
# Criar os graficos com as variaveis

In [ ]:
# convertendo o indice em uma coluna de data

# Convertendo as datas para o formato númerico de matplotlib usando o mdates
# Isso é necessário para que o matplotlib possa plotar as datas corretamente no gráfico